

.navbar {

    margin: 0;
    padding: 20px;
    color: #fff;

}


.navbar {


}
.home {
    color: #faf;
    font-size: 12rem;
}

.w3-container {
    color: turquoise;
}

h1 {
    width: 50%;
    font-size: 30px;
    border: 5px dotted blueviolet;
    float: left;
    font-size: 4.5em;
}


h4 {
    color: #000;
}

.nav-links {
    color: #fff;
    list-style-type: none;
}

.w3-container {
    background-color: turquoise;
    margin: 5px 20px 10px 20px;
}

.w3-container nav   ul li  {
    display: inline;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.w3-container nav ul li a {
    color: #000;
    text-decoration: none;
}

.w3-container nav ul li a:hover {
    color: #dfa;
}
.w3-container nav nav {
    background-color: #abc;
    height: 25px;
}

.w3-container nav {
    align-content: center;
}

.w3-container nav a {
}

.bbc-welcome-2 {

border: 8px solid greenyellow;
width: 46%;
font-size: 50px;
float: right;
clear: right;
}

.canvas-below {
    background-color: #dad;
}

.navbar-inner {


}